body{
    margin-top: 90px;
    background:url(../images/JapanNomal.jpg) no-repeat #F4F1E0;
    font-weight: 500;
    font-size: 1.05em;
    font-family: "Microsoft YaHei","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif;
}

