
.tooltip {
	position: absolute;
	cursor: pointer;
}

/* Trigger item */

.tooltip-item {
	width: 30px;
	height: 30px;
	left: 105px;
	top: 470px;
	margin: -15px 0 0 -15px;
	position: absolute;
	border-radius: 50%;
	border: 5px solid #fff;
	-webkit-animation: pulse 0.6s infinite alternate;
	animation: pulse 0.6s infinite alternate;
}

@-webkit-keyframes pulse {
	from { -webkit-transform: scale3d(0.5,0.5,1); }
	to { -webkit-transform: scale3d(1,1,1); }
}

@keyframes pulse {
	from { -webkit-transform: scale3d(0.5,0.5,1); transform: scale3d(0.5,0.5,1); }
	to { -webkit-transform: scale3d(1,1,1); transform: scale3d(1,1,1); }
}

.tooltip:hover .tooltip-item {
	border-color: #fff;
}
